*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
}

:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --bg-Light-slate-blue: hsl(252, 100%, 67%);
    --bg-Light-royal-blue: hsl(241, 81%, 54%);

    --crl-Violet-blue: hsla(256, 72%, 46%, 1);
    --crl-Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --br : 10px;

    --fw5 : 500;
    --fw7 : 700;
    --fw8 : 800;
}

p{
    font-size: 18px;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
}

.card-wrap{
    width: 450px;
    height: auto;
    background-color: var(--White);
    border-radius: var(--br);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-box-shadow: 6px 18px 18px 0px rgba(205,209,212,1);
    -moz-box-shadow: 6px 18px 18px 0px rgba(205,209,212,1);
    box-shadow: 6px 18px 18px 0px rgba(205,209,212,1);
}

.result-section,
.summery-section{
    flex: 1;
}

.result-section{
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    width: 100%;
    height: 100%;
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-align: center;
    padding: 1.25rem 1rem;
}

.summery-section{
    background-color: var(--White);
    width: 100%;
    height: 100%;
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
    gap: 1rem;
    padding: 1.25rem 1rem;
    display: flex;
    flex-direction: column;
}

.your-result{
    color: var(--Pale-blue);
}

.circle{
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0),hsla(256, 72%, 46%, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle .score{
    font-size: 2.5rem;
    color: var(--White);
    font-weight: var(--fw8);
}

.circle .of{
    font-size: 0.875rem;
    color: var(--Pale-blue);
}

.great{
    color: var(--Pale-blue);
}

.desc{
    color: var(--Pale-blue);
    font-size: 0.875rem;
}

.summary{
    font-weight: var(--fw7);
    color: rgb(51, 51, 51);
}

.stats .each{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0px;
}

.stats .each .stat-name{
    flex: 1;
    padding-left: 0.5rem;
    font-size: 16px;
}

.stats .each .stat-score{
    font-size: 16px;
    color: rgb(88, 88, 88);
}

.stats .each .stat-score span{
    font-weight: var(--fw7);
}

.stats .each:first-child{
    background-color: #FFF6F5;
}

.stats .each:nth-child(2){
    background-color: #FFFBF2;
}

.stats .each:nth-child(3){
    background-color: #F2FBFA;
}

.stats .each:last-child{
    background-color: #F3F3FD;
}


.stats .each .Reaction{
    color: var(--Light-red);
}

.stats .each .Memory{
    color: var(--Orangey-yellow);
}
.stats .each .Verbal{
    color: var(--Green-teal);
}
.stats .each .Visual{
    color: var(--Cobalt-blue);
}


.continue{
    margin:auto;
    width: 100%;
    padding: .5rem 0px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    transition:  all ease-in .3s;
}

.continue:hover{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}



/* mobile design */


@media screen and (max-width : 760px) {
    body{
        align-items: center;
        justify-content: flex-start;
    }
    .card-wrap{
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }
    .result-section{
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .each{
        padding: 1rem 8px;
    }
    .continue{
        padding: 10px 0px;
    }
}